streamlit
pandas
plotly
requests
beautifulsoup4
spacy
scikit-learn
wordcloud
matplotlib
python-dotenv
PyPDF2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
